body {
  background-color: #fff;
  position: relative;
}
section {
  padding-top: 60px;
}

#masthead, #footer {
  background-color: #049cd9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  background-image: -webkit-linear-gradient(#004D9F, #049cd9);
  background-image: -moz-linear-gradient(#004D9F, #049cd9);
  background-image: -o-linear-gradient(top, #004D9F, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0))";
}
#masthead div.inner, #footer div.inner {
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}
#masthead h1,
#footer h1,
#masthead p,
#footer p {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#masthead p a,
#footer p a {
  color: #fff;
  font-weight: bold;
}
#masthead {
  margin-top: 40px;
}
#masthead h1,
#masthead p {
  text-align: center;
  margin-bottom: 9px;
}
#masthead h1 {
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#masthead p {
  font-weight: 300;
}
#masthead p.lead {
  font-size: 20px;
  line-height: 27px;
}