body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin-top: 10px;
	background-color: #EDEDED;
}

header .wrapper, section .wrapper {
	width: 800px;
	margin: 0 auto;
}

h1, h2 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-weight: bolder;
	letter-spacing: -1px;
	line-height: 36px;
	margin-bottom: 18px;
}

h2 {
	font-size: 20pt;
	color: #333;
	margin-bottom: 0;
}

#title {
	font-size: 32pt;
	color: #333;
}

section {
	padding-top: 18px;
	padding-bottom: 18px;	
}

section#intro {
	background-color: #BDCFFE;
}

p {
	margin-bottom: 5px;
}

.box {
	background-color: white;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 10px;
}