<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.4" targetFramework="net40" />
  <package id="MahApps.Metro" version="0.10.0.0" targetFramework="net40" />
  <package id="Nexus" version="2.1.0" targetFramework="net40" />
  <package id="SharpDX" version="2.4.2" targetFramework="net40" />
  <package id="SharpDX.D3DCompiler" version="2.4.2" targetFramework="net40" />
  <package id="SlimShader" version="0.1.1" targetFramework="net40" />
  <package id="SlimShader.Compiler" version="0.1.1" targetFramework="net40" />
</packages>